@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("../imagens/frame-iphone.png") no-repeat;
    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 471px;
}

